[2018-06-27 12:38] Bayees opened #1 "ImportError: cannot import name 'Token'"
Getting following error:
`Traceback (most recent call last):
  File "Main.py", line 2, in <module>
    from PyInquirer import prompt, print_json
  File "C:\Users\CBAY\OneDrive - Netcompany\Python Projects\TimeRegistration\venv\lib\site-packages\PyInquirer\__init__.py", line 6, in <module>
    from prompt_toolkit.token import Token
ImportError: cannot import name 'Token'`

Running on Windows 10 Ent

[2018-06-28 08:06] CITGuru commented on #1
Do you have prompt_toolkit installed? Do `pip install prompt_toolkit`, to install.

[2018-06-28 10:48] Bayees commented on #1
Solved it. Thanks

[2018-06-28 10:53] Bayees commented on #1
Just a bit too fast. It didn't fix it.

[code]

[2018-06-28 11:30] CITGuru commented on #1
It seems its not installed yet. Which environment are you running it from? Anaconda?

[2018-07-03 11:08] kensongzhu commented on #1
I got the same issue.
A walkaround is to downgrade the prompt_toolkit and it worked for me.
**pip install 'prompt_toolkit==1.0.14'**

Maybe better change the version of prompt_toolkit in requirements.txt:
prompt_toolkit==1.0.14

Otherwise will always use latest version of prompt_toolkit
FYI: There is [breaking update ](https://python-prompt-toolkit.readthedocs.io/en/master/pages/upgrading.html#upg

[2018-07-10 00:12] CITGuru commented on #1
I guess this is resolve now :100: :+1:

[2018-07-10 00:12] #1 closed

[2018-07-23 13:18] AKKaygin opened #2 "Looping in for"
My code has a text file and the text file is editable, so I don't know the contents of it in real world but I need to have a multiselect (checkbox) feature. So the thing I'm trying to do is iterate over all items and make a multiselect list. I have the other parts, can I do something like this. If yes, how?
Thanks.

[2018-08-11 05:43] nackjicholson opened #3 "This looks awesome!"
Just wanted to stop by and say this library looks really great, thanks for sharing it! I'm looking forward to digging in more. I've read bits and pieces of the code, haven't written anything myself with it (yet). But I'm really excited to build something. Just reading helped me discover the `prompt_toolkit` library you're using behind the scenes and that seems like it provides a lot of capabilitie

[2018-08-11 06:02] nackjicholson commented on #3
I did notice the "editor" type which seems like a useful idea actually isn't written yet. 😄

Any other things documented which aren't done that I should know about if trying to use this?

[2018-08-11 15:48] #3 closed

[2018-08-12 02:53] nackjicholson commented on #3
pageSize is also documented but seemingly not implemented.

[2018-08-17 22:28] joveice opened #5 "Windows pushes content down"
etc:
[code]

if there already is content in the terminal it works normally.
Is there a way to fix this?

[2018-08-22 08:47] CITGuru commented on #5
You can fix the bug currently with the PR above for now. Though its not clearly tested yet. Once there's enough testing, it will be merged

[2018-08-22 08:50] CITGuru commented on #5
This issue will be open till the #4 is merged.

[2018-08-22 09:03] joveice commented on #5
I have been using the #4 PR since I created this issue as I found it right after. It  has worked great until now without any issues (only tested on windows)

[2018-08-24 23:08] joveice opened #6 "Cancel?"
How would I go about catching CTRL + C here or is there some way to cancel a action, etc once entered a input how do you exit it (etc a interactive shell)

[2018-08-27 17:01] joveice commented on #6
Interactive shell. I noticed that you already catch keyboardinterrupt and return a empty dict. so I'm just checking if the return is empty or not, if empty I just break out of the loop.
Solves my issue.

[2018-08-27 17:01] #6 closed

[2018-08-28 16:53] thanosgn opened #7 "Python2 crashes with non-ascii caracters."
Hi,

When using PyInquirer with python2 I face a problem when the options include non-ascii characters.
Python3 works fine though.

Here is a minimal working example that demonstrates this behaviour.
[code]

Python3 execution:
[code]

Python2 execution:
[code]

The apostrophe unicode character is what is breaking the python2 execution.

[2018-08-29 14:04] CITGuru commented on #6
Yea, that's also a good solution to this. :+1:

[2018-08-29 15:29] CITGuru commented on #7
Currently, though I haven't figured out how to work around that without escaping the ascii codec. Though you can use `unicode` as below to get through it without error.
[code]
which will give out what we dont really want
[code]
So its better to avoid it. In case you were able to fix it, do share how you are able to. I'll be working on it in my free time to get it fixed.

[2018-08-29 17:56] thanosgn commented on #7
I have not tested it thoroughly, but it seems that removing the `str()` call from `PyInquirer/prompts/list.py` in line 92 solves the issue for now. See diff below:

[code]

Maybe this will guide you in the right direction even if it won't solve the issue yet.

Thanos

[2018-08-31 14:55] CITGuru commented on #7
Oh lemme check that :+1: . Thanks

[2018-09-09 21:16] jknielse opened #10 "'short' key is not used in choice dictionaries"
Howdy,

Loving the module; it's super helpful to have an easy-to-use question interface for building tooling scripts. I did notice that despite the README that mentions the 'short' value should be displayed after a choice is made in a checkbox or list inquiry, but it looks like it's not actually used.

It'd be great to add that in. In some cases I want to display a fair amount of contextual inform

[2018-09-13 09:14] tmbo commented on #7
Just ran into the same issue - would be great if we could merge that fix.

[2018-09-15 02:27] Rishi-jha opened #11 "AttributeError: module 'PyInquirer.prompts' has no attribute 'editor'"
I am getting this error while running the editor.py example.

[2018-09-15 13:08] Rishi-jha commented on #11
Yeah sure,

PS C:\Users\Rishi\Downloads\PyInquirer-master\PyInquirer-master\examples> python .\editor.py
module 'PyInquirer.prompts' has no attribute 'editor'
Traceback (most recent call last):
  File "C:\Python37\lib\site-packages\PyInquirer\prompt.py", line 63, in prompt
    application = getattr(prompts, type).question(message, **_kwargs)
AttributeError: module 'PyInquirer.prompts' has no attri

[2018-09-18 19:28] alexakarpov opened #12 "default type doesn't work"
Hi all,

The README claims that 'type' key is optional for questions; it appear this statement is not true:
Running with a list of questions of this form:

[code]
leads to this interaction

[code]

[2018-09-18 23:42] CITGuru commented on #12
I think we need to update some part of the README.

[2018-09-19 03:18] CITGuru commented on #5
The #4 has been merged to both `dev` and `master`. So I am going to close this issue. :+1: :100:

[2018-09-19 03:18] #5 closed

[2018-09-19 03:28] CITGuru commented on #7
I have added a fix to the `dev` branch. I'll push it up to the master with some other fix.

[2018-09-19 03:28] CITGuru commented on #7
So I am gonna close this issue.

[2018-09-19 03:28] #7 closed

[2018-09-19 03:31] CITGuru commented on #10
Hello, thanks for this. Its our TODO list. We'll surely be glad, if you'd help us with. But in the main time, I'll try to take time and study it.

[2018-09-19 03:33] CITGuru commented on #11
Hey, just added the editor fix and will take time to get that into work. But its currently working same as `input`. We'll have to add `multiline=True` or whip up something custom ourselves. :+1:

[2018-09-19 03:42] Rishi-jha commented on #11
Cool, will look into something to make it more robust.

[2018-09-19 04:27] CITGuru commented on #12
Can you point out where that is mentioned. You need to provide a `type` for every question

[2018-09-19 04:33] CITGuru commented on #11
But the main aim, is to be able to launch default editor from the command line: https://github.com/CITGuru/PyInquirer/tree/master#editor---type-editor

I think we should just go for command line editors rather the platform default ones.

[2018-09-19 04:36] Rishi-jha commented on #11
Well, opening a platform default is no big deal i guess. will try to look into that

[2018-09-19 05:02] CITGuru commented on #11
Okay, I'll whip u an `Editor` class that will implement the default platform editor. But of course I'll prefer we just use the command line directly.

[2018-09-19 08:11] tmbo commented on #7
Sounds great, we want to use it as part of https://github.com/rasahq/rasa_core and since we still need to support py2 & py3 that would make this a lot easier :rocket:

[2018-09-19 10:00] CITGuru commented on #11
[code]

[2018-09-19 10:06] CITGuru commented on #12
I dont think that is mentioned in the README, I just looked through it lines by lines.

[2018-09-19 10:07] CITGuru commented on #7
Nice one, :+1: . Thanks for your time

[2018-09-19 10:08] #12 closed

[2018-09-19 10:10] tmbo commented on #7
Do you have any plans when the next release will happen?

[2018-09-19 10:19] CITGuru commented on #7
No, not anytime soon. Cos I am planning to add `editor` and some other fix. I need to carry out test against some environments. Just too busy these days in my company. Also I wanted to add some of the TODO feature. But, I can create a pre release version, so people can use most recent fix with no new feature. :+1:

[2018-09-19 11:01] tmbo commented on #7
Yes that would be great, if you tag it with `1.1.0a1` (or whatever your next release is) "normal" people wont get it if they install from pip only if you specifically use the version number, that would be best :+1:

[2018-09-19 22:01] CITGuru commented on #3
I plan to implement all TODO

[2018-09-19 22:43] alexakarpov commented on #12
sorry for the lag; I meant this line (perhaps I misunderstood it?):

[2018-09-20 06:38] CITGuru commented on #12
Yea, I think that can also lead people astray. Unless we could add such functionality, but to make things clear, I'll just leave it to need a `type` by default.

[2018-09-20 06:51] CITGuru commented on #2
Yes you can loop and generate the checkboxes.

[2018-09-22 00:12] oldboldpilot opened #14 "Upgrading to prompt_toolkit 2.0"
Will it take a lot to upgrade this to work with prompt_toolkit 2.0?
Is there any help I can render to make that happen?

[2018-09-22 07:45] CITGuru commented on #14
I am afraid to say that won't happen anytime soon. Cos upgrading to 2.0, will require a lot of work and rewiring. prompt_toolkit 2.0 was rewritten from scratch and they totally ditch Token and many other things PyInquirer depends on. What I could suggest is we create PyInquirer2 from scratch that will work with prompt_toolkit 2.0. And that will only happen once I am able to complete all TODO we st

[2018-09-23 02:31] CITGuru commented on #14
You welcome, I'll be glad to work with you in the nearest future :handshake:

[2018-09-25 22:07] dado330 opened #16 "Paste user input from clipboard"
Is it possible to paste the user import from the clipboard for example in 'input' questions?
I've tried mouse right-click and ctrl+V but to no avail.

[2018-09-25 22:35] CITGuru commented on #16
Right click and click on paste should work when pasting from clipboard to command line on all platforms. Most terminal doesn't support Ctrl+V for pasting directly. In `xterm`, `bash` and `*nix` terminal its `Ctrl+Shift+V`. I am not sure about `cmd` cos I am on Linux. You should probably use `Ctrl+Shift+V`, cos its works natively.

[2018-09-27 17:00] dado330 commented on #16
Not working. Tried right click, Ctrl+V and Ctrl+Shift+V but any of these command doesn't seem to do anything. Even with right click doesn't open the context menu. Right click and Ctrl+V work just fine on cmd without using PyInquirer (so prompt_toolkit too I suppose)

[2018-09-27 20:44] CITGuru commented on #16
What environments information and the cmd you are using?

[2018-09-29 22:46] CITGuru commented on #11
The fix for `editor` has been added to the current dev branch. You can pull the `dev` and run the [editor.py example](PyInquirer/examples/editor.py). You should also read about it here https://github.com/CITGuru/PyInquirer/tree/dev#editor---type-editor @Rishi-jha

[2018-10-02 10:33] martenjacobs opened #17 "Default is ignored on lists"
It seems that the `default`-key is ignored on list-type questions

Consider the following code:
[code]

### Expected result:
`Item 3` is initially selected in the prompt

### Actual result:
`Item 1` is initially selected in the prompt

### Environment:
OS: macOS 10.14 Mojave
[code]
[code]

[2018-10-02 10:37] martenjacobs opened #18 "Setting default causes exception on rawlists"
Using the `default`-key causes an exception when used on a rawlist

Consider the following code:
[code]

### Expected result:
`Item 3` is initially selected in the prompt

### Actual result:
[code]

[2018-10-03 12:11] CITGuru commented on #18
Hmmnnn the error is coming from the choices given. Thats a bad format of choices. Try and removing the default key, it still outputs the same error. And the default must be the index of the value in the given choices.

[2018-10-03 12:14] CITGuru commented on #17
I'll take a closer look at this.

[2018-10-11 23:44] jacksonbenete commented on #11
To fix this same issue I needed to compile for the "examples" usage, that is if I just `pip install PyInquirer` I can't use `editor`, but if I download the github repo and `pip install -e .` in the repo directory then there is no problem.

[2018-10-16 04:42] vc1 opened #19 "PyInquirer\prompts\input.py", line 20 TypeError: issubclass() arg 1 must be a class"
[code]

[2018-10-16 05:30] vc1 commented on #19
[code]
check callable first, then issubclass

[2018-10-23 04:55] CITGuru commented on #19
Hello @vc1, sorry for late reply and thanks for pointing this out. Can you make this a PR instead?

[2018-10-26 13:55] davidlj95 commented on #19
This does not work, as the `Validator` class is callable and it is not desired to enter the first `if` clause

[2018-10-26 14:59] Ghostvv opened #21 "printing question on several lines"
if the `type` of a question is `input`, long question is printed on several lines, however if the `type`  is `confirm`, long question is printed on one line and appears to be cut by terminal window

[2018-10-26 20:45] CITGuru commented on #21
Can you upload a screenshot to better understand the issue

[2018-10-29 06:20] CITGuru commented on #21
@Ghostvv I am still waiting for the screenshots

[2018-10-29 09:13] Ghostvv commented on #21
cut question (`"type": "confirm"`):
![screen shot 2018-10-29 at 10 08 33](https://user-images.githubusercontent.com/4136956/47639884-9a7d9700-db62-11e8-8233-c073a097c7e1.png)

while the full question is (for larger terminal window):
![screen shot 2018-10-29 at 10 09 42](https://user-images.githubusercontent.com/4136956/47639954-c26cfa80-db62-11e8-92ef-248ac238afbb.png)

While for `"type": "input"`

[2018-10-29 10:03] CITGuru commented on #21
Oh, I haven't actually experience that. I'll look into it

[2018-10-29 10:15] Ghostvv commented on #21
thanks

[2018-11-07 16:53] cyberbeast opened #22 "Checkbox: disable choices based on answers"
I am trying to address a use-case where let's say I have a checkbox with 5 options. If I select option 1 then options 2 through 5 should be disabled. Similary, if I unselect option 2 then options 2 to 5 should be enabled again.

Is this possible with the current state of the implementation?

[2018-11-07 17:38] cyberbeast opened #23 "List: Rendering issue"
List type renders in the middle of the screen aligned to the left, rather than immediately below the prompt.

<img width="577" alt="screen shot 2018-11-07 at 12 38 32 pm" src="https://user-images.githubusercontent.com/566417/48149444-13c76900-e28a-11e8-9e8c-aac95afe38ef.png">

<img width="1907" alt="screen shot 2018-11-07 at 12 37 29 pm" src="https://user-images.githubusercontent.com/566417/481493

[2018-11-08 17:43] CITGuru commented on #22
Its not actually impossible if you employ a custom event handler. You can disable a checkbox with the `disable` properties

[2018-11-08 17:51] CITGuru commented on #23
This bug has been fix in #4, you can pull the `dev` branch to fix this issue

[2018-11-09 08:57] joveice commented on #11
State of this? I installed 1.0.2 and ran the example and it failed with: "ValueError: No question type 'editor'".

[2018-11-09 12:09] Tarzan5 opened #24 "Allow choice of Pointer"
For the list/checkbox types, the pointer is the unicode character U+276F. Windows command prompt seems to have an issue with displaying that character (see screenshot). Note: Notepad displays the symbol correctly using the same font, so it's not an issue with the font. Would be nice if we could choose the pointer symbol too, just like we can choose the 'qmark' symbol. Thanks.

![capture2](https://

[2018-11-10 12:40] CITGuru commented on #11
@joveice Sorry I had to delay the release of this fix cos of other fix I need to include. And my daily work has taken most of my available time. You can install from the `dev` branch

[2018-11-11 22:16] cyberbeast commented on #23
Thank you. I'll do that. Will this be pushed to PyPI anytime soon?

[2018-11-12 00:59] CITGuru commented on #23
Yes, I hope so, as soon as other fixes are concluded.

[2018-11-12 14:30] tmbo commented on #21
@CITGuru did you have time yet to look into this?

[2018-11-12 19:45] CITGuru commented on #17
Yes its actually ignored cos, you have to choose one from the list.

[2018-11-12 19:45] #17 closed

[2018-11-12 19:47] martenjacobs commented on #17
From documentation it appears you should be able to define the initially selected list item. Either the documentation should be clarified or this feature should be implemented.

[2018-11-14 15:45] Dauflo commented on #24
+1

[2018-11-14 18:11] CITGuru commented on #24
Sorry for late response, I actually looked into this, I noticed that is the default pointer from `prompt_toolkit`

[2018-11-16 23:41] rigogsilva commented on #24
Can you change the default?

[2018-11-17 05:38] CITGuru commented on #24
@rigogsilva I am not sure, I did some research on it and I notice there was nothing like that. So I am trying to look at the `python-prompt-toolkit - 1.0`, if we could change this.

[2018-11-17 23:14] rigogsilva commented on #14
Let's get this going. I'd be willing to help out.

[2018-11-18 03:22] Apreche commented on #14
Just discovered PyInquirer, and it's not working for me because iPython uses prompt-toolkit 2, and that causes a conflict.

[2018-11-20 15:16] CITGuru commented on #14
@rigogsilva Thanks for that, I'd be glad if we could work on it. @Apreche Yeah, you can't use PyInquirer on iPython cos, PyInquirer still uses Prompt toolkit 1.0

[2018-11-20 23:29] tmbo commented on #14
Yes, happy to help out as well - let’s get this going 🚀

[2018-11-21 05:34] CITGuru commented on #24
I dont think we could change it for now, If any one has an idea how to, you can suggest a bug fix

[2018-11-22 06:35] CITGuru commented on #21
@tmbo, Sorry I didnt reply on time, I forgot to reply. I was busy with other stuff and thanks for the PR

[2018-11-22 06:39] #21 closed

[2018-11-22 06:43] CITGuru commented on #16
@dado330 Whats the status of your issue? I am gonna close this issue if no response is given

[2018-11-22 06:44] CITGuru commented on #23
#21

[2018-11-22 06:44] #23 closed

[2018-11-22 06:45] CITGuru commented on #19
The issue has been fixed and the fix is merged

[2018-11-22 06:45] #19 closed

[2018-11-22 09:12] tmbo commented on #14
@CITGuru how willing are you to move quick on this? We depend on this library for one of our larger projects, but the usage of prompt_toolkit is a dealbreaker because of ipythons dependency on prompt_toolkit2.

As said, I am very happy to help out. I've been looking into it and it is actually rather straight forward. I don't understand why the development for this is waiting for a minor release (w

[2018-11-22 19:34] CITGuru commented on #14
I really appreciate your concerns and understanding. I know how we feel when our projects depend on a good and promising project. But what turn us off is when the project is poorly maintained, I mean, that was the whole idea of PyInquirer. So I am looking at the best way to create time for managing this project.

While we wait for PyInquirer 2, I decided to release PyInquirer 1.0.3 bugfix release

[2018-11-23 17:21] CITGuru commented on #14
@tmbo I'll be working on it this weekend so I should be able to push up what I have by monday, if all goes as schedules

[2018-11-23 18:03] tmbo commented on #14
I did convert the list and confirm views locally, so let me know if you need them.

[2018-11-23 21:38] tmbo commented on #14
sure - I'll create WIP PR

[2018-11-23 23:47] tmbo commented on #14
@CITGuru I've pushed the list & confirm prompts as part of #31

[2018-11-24 00:53] CITGuru commented on #14
@tmbo Thanks. I found something weird, still don't know how, but it seems prompt_toolkit 1 works with the changes you made for prompt_toolkit

[2018-11-24 09:33] CITGuru commented on #14
@tmbo Was able to convert `input`, `editor` to prompt_toolkit2. So no standard design yet, still converting others, `rawlist`,`expand`, `password` (this should be fairly easy), `checkbox`

[2018-11-24 09:35] CITGuru commented on #14
I should be done by tomorrow, its weekend here Saturday precisely, wanna rest more and back to it as soon as wake up. See ya

[2018-11-25 12:50] tmbo commented on #14
Let me know if you need help converting any one of these.

[2018-11-27 10:07] tmbo commented on #14
It would be great if you share your code so we can help you and collaborate on this project. Do you mind pushing your changes to a branch?

If you can't do all the work on your own, e.g. because you are short on time, you need to make sure others can help you.

[2018-12-03 08:20] denizs opened #32 "Offering to join as maintainers"
Hey there,
as already stated in the whaaaaat issue, I am part of a small company building one of our internal CLIs on top of whaaaaat, which has not been maintained well for the past couple of months. As this piece of software is particularly mission critical, we'd like to propose that @daniel-k and I join the group of maintainers to push development, quickly review PRs and maybe set up a continuo

[2018-12-04 10:31] CITGuru commented on #32
@denizs Thanks for your help. PyInquirer is originally whaaaat as we all know, but due to some issues I had to fork and rename it to this, so we can continue to maintain it. We are also currently working on the PyInquirer for prompt_toolkit2. You can checkout the discussion here https://github.com/CITGuru/PyInquirer/issues/14
Thanks again

[2018-12-04 10:32] CITGuru commented on #16
@dado330 With no response from you, this issue will be closed

[2018-12-04 10:32] #16 closed

[2018-12-13 03:01] timharris777 commented on #10
I just ran into this issue. I'll see if I, or someone on my team, can fix this and send you a pull request.

[2018-12-13 03:06] timharris777 commented on #10
I think I found the issue here:

https://github.com/CITGuru/PyInquirer/blob/f4c0338dbcd4432d43e9b1dd164b1c75e1304bc1/PyInquirer/prompt.py#L85

Looks like answer will always be answer['name'] instead of allowing for answer['short'] if it is defined for choices in a list.

[2018-12-13 14:43] CITGuru commented on #10
Cool @timharris777

[2018-12-14 15:57] tmbo commented on #14
Because I could not wait for this to drag on further, I created a separate library https://github.com/tmbo/questionary  based on prompt toolkit 2. I tried to avoid this, but we needed to move faster for our project https://github.com/rasahq/rasa_core which uses the library.

[2018-12-14 16:03] tmbo commented on #32
I reached out over a month ago with the same question to @CITGuru, but things didn't move forward. Since we depended on this library in one of our larger projects (https://github.com/rasahq/rasa_core) we needed to move quicker. I've ported some of the functionality to prompt toolkit 2 at https://github.com/tmbo/questionary - not all components are supported yet, so would be great to get a helping

[2018-12-16 20:38] Woile commented on #14
fantastic @tmbo I was also needing something like that. Thanks a lot!

[2019-01-04 16:17] jmetzz commented on #18
you can not use dictionaries as choices when the type is rawlist.
The error doesn't happen if you actually use a simple list. However, the default configuration still doesn't make any difference. See code bellow.

`
answer = prompt([{
    'type': 'rawlist',
    'name': "test-question",
    'message': "Select item",
    'default': 2,
    'choices': ["Item 1", "Item 2", "Item 3", "Item 4"]
}])

prin

[2019-02-03 12:39] ilaipx opened #35 "Newline before accepting confirm input"
Hi there, thanks for the awesome library!

Is there an option to wait for user input for confirm type like most CLI applications?
So I would like to choose [yY/nN] and then click enter before actually registering the input.

Thanks!

[2019-02-17 05:54] supersuraccoon opened #36 "How to remove (hide) the result of prompt"
Thanks for the great project now I am using it to create something cool ...

And now I am facing a problem that I can not seem to find a way to solve.

Say I have the following script:

[code]

And the final output in the terminal is

[code]

Now what I want to achieve is after make the selection, the line of output

[code]

is removed or hide (I do not what this to be shown in the terminal)

Just

[2019-02-27 06:39] Atrifex opened #39 "Update message based on current choices in checkbox"
In the Pizza example, it makes sense to update the message with something like the cost.

The questions array basically needs message_update function similar to the validate function and this will just update the message based on that.

[2019-02-27 18:31] Atrifex opened #40 "Checkbox prompt return dict should be a dict of dicts when seperators are used"
To be able to easily tell which values are chosen under which subsection, it makes sense to add this feature.

[2019-03-04 18:20] Tioz90 opened #41 "'KeyError' when clicking on an item in list with mouse"
On MacOS, when I click with the mouse on any item of a PyInquirer list I get a KeyError thrown; this happens both in Terminal and in iTerm2.
I have looked through the source code and can't find a KeyError explicitly being thrown, so it must be inside some subroutine.

**Following is an example error that happens when I click on the "Test" item:**
Source code:
<img width="908" alt="image" src="http

[2019-03-22 19:14] manihamidi opened #42 "pagination for long list of options"
Thank you for this wonderful library.

Was wondering if there is a way to paginate a long list of options?

Alternatively, is there a way to have the list of options printed in multiple columns so as to fit as many options in the smallest rectangular space on the console as possible?

:question:

[2019-03-24 05:35] CITGuru commented on #42
Give more example

[2019-03-24 20:29] manihamidi commented on #42
I mean something like what `ipython` does:

![Mar-24-2019 13-08-52](https://user-images.githubusercontent.com/15459064/54885113-045e4c00-4e36-11e9-93c1-3a04a7660a18.gif)

That is,

a) Instead of listing the options vertically one below the other, list them in a rectangular fashion (kind of like the default console `ls`  output) and
b) Instead of printing all of the options onto the screen at once,

[2019-03-25 13:54] Redauser commented on #41
Same on Fedora with version 1.0.3.

[2019-03-25 18:27] CITGuru commented on #41
I'll look into this

[2019-03-25 18:29] CITGuru commented on #42
This is more like a new feature. I'll be glad if you are able to send a PR on this.

[2019-03-25 18:49] Redauser commented on #41
The solution is already in the pull-request!
thank you!

[2019-03-25 20:09] manihamidi commented on #42
Thanks, I'll give it a shot.

[2019-03-26 00:41] CITGuru commented on #41
@Tioz90 Can you install from the repo directly to check if your error is fixed

[2019-03-26 00:42] CITGuru commented on #42
Coool, I will be on look out

[2019-03-26 09:16] Tioz90 commented on #41
@CITGuru it doesn't crash anymore but I'm not sure if it's correctly populating the dictionary as clicking displays in PyInquirer but my program doesn't register it.  I'll need to look into this.
Ex: clicking on elements registers in PyInquirer but no action is taken by my program
<img width="643" alt="image" src="https://user-images.githubusercontent.com/32127232/54984836-f9c7c200-4faf-11e9-9d0e-

[2019-03-26 09:38] CITGuru commented on #41
okay, will be waiting

[2019-03-27 00:34] mraza007 opened #44 "I wrote an Article related to this Library"
Hey, I wrote an article related to this library. I really liked it let me know if you can suggest me edits.
https://muhammadraza.me/2019/Creating-Interactive-CLI-App/

[2019-03-30 02:57] Edris89 opened #45 "How to make a different style?"
Hi there,

I see that you have a TODO in the style section.
Do you know when this would be ready?
Because I would love to experiment with styles.

BTW Awesome CLI

[2019-04-01 17:02] Tioz90 commented on #41
Hi, I tested it and it's still not fixed

[2019-04-10 12:23] AndrewOwenMartin opened #46 "Validation doesn't work on checkboxes."
It seems to be impossible to raise a validation error on type "checkbox".

Here is the output I get when I run the "checkbox.py" example, and try to trigger "'You must choose at least one topping." error message

[code]

Going into more detail, I tried to make a set of questions with all the ways of making a validation error, all checkboxes should fail in all cases, but only the final "input" case

[2019-04-17 07:21] rithvikvibhu commented on #22
Can we currently set custom event handlers? Didn't find anything in the readme.

[2019-04-19 16:41] DrumSergio opened #47 "Question based on previous answer"
This maybe is kind of the same question as #22

I would like to have like

[code]

Is there any function I can use to get the value of the previous question?

Thank you!

[2019-04-26 00:42] stratacast opened #48 "Require the user to press Enter for confirm type"
One thing that bothers me about this implementation of inquirer is how pressing y/n jumps immediately to the next prompt. I think for the last X decades we've been conditioned to type y/n and then hit enter. Can this be changed?

I think all it needs is to make changes to `confirm.py` by changing these decorators

[code]

on lines 66,67 to

[code]

And same for the No  prompts on lines 60,61.

[2019-04-26 10:38] AndrewOwenMartin commented on #39
The documentation says that the "message" attribute of a question can be a string or a function that takes the current answers and returns a string. I guess you could use this to solve your issue, however, that doesn't appear to be accurate documentation as any function, or lambda, I use as a questions "message" gets evaluated as a string in the prompt.

[2019-04-26 10:43] AndrewOwenMartin opened #49 "Can't use "message" as a function(answers: dict) -> str"
The documentation says that the "message" attribute of a question can be a string or a function that takes the current answers and returns a string. That doesn't appear to be accurate documentation as any function, or lambda, I use as a questions "message" gets evaluated as a string in the prompt.

e.g.
[code]

_Originally posted by @AndrewOwenMartin in https://github.com/CITGuru/PyInquirer/issues

[2019-04-26 13:23] AndrewOwenMartin commented on #49
I have a workaround for this, you need to do a few things.

Firstly, you need to make an `answers` variable, to which you keep a reference and pass to `prompt`.

Secondly, you need to make a class that has a `__str__` function, you will pass this as your message so when PyInquirer casts it to a string, that function gets called.

Thirdly you must be *very careful* with the `answers` variable, if y

[2019-04-26 13:25] AndrewOwenMartin commented on #39
I see now that I was taking about something else, I was talking about changing the message due to previous answers, this issue is about updating the message for checkboxes as the selection changes.

[2019-04-26 13:28] AndrewOwenMartin commented on #47
See my workaround https://github.com/CITGuru/PyInquirer/issues/49#issuecomment-487054916, it doesn't help for #22 unfortunately.

[2019-04-26 13:48] CITGuru commented on #49
@AndrewOwenMartin Sorry for my late response. I am currently working on this. I will get back to you

[2019-04-29 15:03] tjb1982 opened #50 "The "expand" type is described as using `help` by default, but instead the first choice is used by default"
I suppose this could be just a change to the readme to correctly describe the default behavior, but there is currently no way that I can find to make `help` the default for the `expand` type.

[2019-05-03 22:06] vltr commented on #46
I came here with the same question. It seems that the answer is in the source code already: https://github.com/CITGuru/PyInquirer/blob/10d53723b36ebc7bba311457ec4afd9747a5c777/PyInquirer/prompts/checkbox.py#L225

[2019-05-05 21:35] CITGuru commented on #46
Yea, the checkbox doesn't have validator yet. PR is accepted if you figured it out

[2019-05-05 21:36] CITGuru commented on #50
@tjb1982 I dont understand what you mean

[2019-05-07 20:46] tjb1982 commented on #50
I mean when you provide a list of choices and no default, like

[code]

The default (i.e., hitting the return key) should expand the help, but instead the first provided choice is the default.

[2019-05-07 20:54] tjb1982 opened #51 "`"checked": True` only works when all of the choices are `"checked": True`"
For something like this:

[code]

where choices is made up of a list such as

[code]

If `checked` is False for any of the choices, it displays all of the choices as if they were `"checked": False`, unless the `value` entry is removed and the `name` entry is `x["name"]`.

[2019-05-09 04:16] CITGuru commented on #50
Yes, you mean it should show up the help rather than the default if the default is not given.

[2019-05-09 14:04] tjb1982 commented on #50
I mean, that's what I thought the docs said it would do. I also think it should be possible to manually assign the help as the default, but that doesn't seem to work either.

[2019-05-09 14:13] CITGuru commented on #50
Hmmnnn, lemme check that out.

[2019-05-10 12:27] tjb1982 commented on #50
If you accept PRs on this I can probably help out, also. Let me know.

[2019-05-10 13:28] leogout opened #53 "Add password repeat option to the password field"
Maybe adding something like:
[code]
Which would ask for the password again and validate if they are the same, re-ask both if not.

[2019-05-10 13:57] CITGuru commented on #50
Sure I accept PRS. I am actually looking for contributors now

[2019-05-17 01:55] tjb1982 commented on #50
Sorry for the delayed reply. Okay, great. I'm actively using this library on a project, so as I go, I'll make PRs. I'm side tracked right now, though, with a project at work, so it might be a couple of weeks.

[2019-05-17 08:18] CITGuru commented on #50
Sure, no problem. Thanks

[2019-05-20 04:45] tecosaur commented on #14
is PyInquirer going to move to prompt toolkit 2 any time soon? Or should I stop holding out hope and more to questionary?

[2019-05-28 08:40] hsolg opened #54 "The pageSize property doesn't seem to be implemented"
The pageSize property is described in the documentation, but it has no effect and doesn't seem to be mentioned anywhere in the source code.

[2019-05-31 17:23] bluedaze opened #56 "AssertionError"
[code]

For whatever reason I keep getting this error whenever I try to run a script. I'm fairly new to programming and python, so forgive me if this is a newbie error. I have run numerous examples that were provided, and I can't get any of them to work.

As a reference here is the latest code I tried to write that threw the error above. I am currently running Python 3.7.2.

[code]

Any help would

[2019-05-31 18:24] bluedaze commented on #56
Welp, disregard. It appears to be working perfectly normally. I ran it in the terminal, instead of the python console. Makes sense, though. Kinda wish it would work in the Python console to make my life easier though. Sorry about the trouble, and thanks for the hard work!

- Sean

[2019-05-31 18:24] #56 closed

[2019-06-01 06:16] CITGuru commented on #56
Oh cool.

[2019-06-01 08:18] SAPhRAXsg opened #57 "prompts/checkbox please make "mouse_support" variable."
Hi there

in the libary "prompt_toolkit" wich is used, the variable "mouse_support" is changeable calling function prompt(.., mouse_support=False)
in file ./prompts/checkbox.py the option is hard coded on TRUE.
Is is possible to set this option with an argument?

[2019-06-01 08:24] CITGuru commented on #57
Yes it is hard coded. You want to be able to change it? Lemme see if that is something needed

[2019-06-01 08:25] CITGuru commented on #57
If so how would you propose to be done

[2019-06-04 11:06] idantene opened #60 "Conflicts with ipython etc due to prompt-toolkit"
`ipython` (and `jupyter`) require `prompt-toolkit<2.1.0,>=2.0.0`.
One cannot work with both `ipython` and `PyInquirer` because of this.
(Python 3)

Seems like an easy fix, not sure why the requirements are so out of date.

[2019-06-07 11:01] lichensky opened #61 "[Checkbox] Allow to specify initial pointer position"
Specifying initial pointer position may be handy in some use cases, ex. setting the pointer on last chosen item.

[2019-06-07 11:59] Kos commented on #41
Confirmed fixed on Ubuntu as of 918f8e14f

@Tioz90 which verision did you test on? Latest tag (1.0.3) doesn't have the fix yet, have you installed the latest version from git?

[2019-06-07 13:10] CITGuru commented on #41
@Tioz90 Can you test from that #37

[2019-06-07 14:48] erinpentecost opened #63 "Remove regex dependency"
The regex package is only used in the /tests/ and /examples/ directories, not the actual package source directory pyinquirer/pyinquirer. However, it's called out in setup.py because it managed to sneak its way into requirements.txt. I'm guessing this should have only been in requirements_dev.txt.

[2019-06-11 00:34] gslavin commented on #57
Not sure about the reporter's use case, but I would like to disable mouse input globally while using PyInquirier.

[2019-06-12 12:56] #61 closed

[2019-06-15 10:51] CITGuru commented on #57
Thats more of a feature. This is doable.

[2019-06-20 13:57] chartinmarrel commented on #57
+1 I'd also like to disable mouse input.

[2019-06-27 09:44] duke79 opened #67 "Allow default selection in list"
It's an amazing library!

Can you also add 'default selection' for list?
Right now the first element is selected by default on initialization.
I have an unending loop through which each choice is selected and an action is performed. It would make sense to keep the selection on the last choice, instead of resetting it back to the first element.

It also seems to be on [#TODO list](https://github.co

[2019-07-08 01:24] vaneseltine commented on #60
See https://github.com/CITGuru/PyInquirer/issues/14

[2019-07-11 13:20] paddie commented on #57
yes, right now it breaks whenever you select another window and return to the dialog by clicking the body of the terminal. Most inconvenient. A global option would be preferable though.

[2019-07-11 14:02] paddie commented on #67
I've added a CR to the PR @duke79 - let me know if it makes sense!

@CITGuru how do you feel about this PR? I can see you've not had time to look at it in the last two weeks, but I am very interested in this one as well :)

[2019-07-11 16:15] #51 closed

[2019-07-13 06:26] Sentr1k opened #69 "Using a seperate list for choices?"
Say I have a list that's user created, or I'm storing options for restoring save points in my program, I need keys that can be displayed.

Something like:
`list = [Question1, 2 ,3 ,4 ,5]`
`questions = [`
`            {`
 `               'type': 'list',`
  `              'name': 'saves',`
   `             'message': "What save would you like to load?",`
    `            'choices': list`
     `

[2019-07-14 15:40] rednafi commented on #14
Prompt toolkit 0.1.14 is completely breaking ipython notebook. ```Pyinquirer 2.0``` is nowhere to be found and the library already seems fragmented. Then there is ```questionary```. Thanks for your awesome work nonetheless.

[2019-07-14 17:45] Woile commented on #14
For people with problems with `prompt toolkit < 2.0`, there are currently 2 solutions which kinda fit:

- [questionary](https://github.com/tmbo/questionary) which supports `prompt toolkit > 2.0`
- [bullet](https://github.com/Mckinsey666/bullet) which has no dependencies as far as I can tell.

[2019-07-15 04:07] rednafi commented on #14
@Woile ```questionary``` seems awesome, built on ```Pyinquirer```. It can directly be adopted as ```pyinquirer 2.0```. However, the development seems slow there which is quite understandable. Maybe we can create some traction there. Thanks for the info...:)

[2019-07-18 23:52] langrock commented on #46
LOL, I was going nuts thinking that there was something wrong with my code. Good to know that the validator is not yet implemented.

[2019-07-19 10:25] Shinyhero36 commented on #69
Yeah I struggle doing the same, did you find a solution? @Sentr1k

[2019-07-19 10:50] Shinyhero36 commented on #69
I finally found how to do it:
``python
here is the question/answer
questions = [
		{
		'type': 'list',
		'name': 'file',
		'message': 'Select file to open',
		'choices': list_files(projects_path),
		}
		]
answers = prompt(questions, style=custom_style_2)
``
and here is my function with **parameter**
``python
def list_files(projects_path):
	files = []
	for file in listdir(str(projects_path)):
		fil

[2019-07-19 19:45] igor-egorov opened #70 "Editor example does not work"
PyInquirer/examples/editor.py
does not work :(
[code]
Python 3.7.1
PyInquirer==1.0.3

[2019-07-23 15:32] flakobatako opened #71 "Can't install"
When i try to install via the command:

$ pip3 install pyInquirer

i get this output.

I tried it on a AWS EC2 machine and on my local Linux Mint distro. I trieded with an without venv.

WARNING: The directory '/home/diego/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing

[2019-07-24 20:04] flakobatako commented on #71
Never mind i finally got it working.

Problem was regex not pyInquirer. I was missing the python-dev libraries.

But if it's a requirement for the project you should make more evident that python development libraries are necesary in setup instructions for Linux users.

[2019-07-24 20:04] #71 closed

[2019-07-29 12:56] tmbo commented on #14
@rednafi well, development is "slow" as there isn't a lot to develop at the moment. if there are features / bugs you are running into please create an issue 😃

[2019-07-29 17:17] rednafi commented on #14
@tmbo ```questionary``` is working like a charm. Doesn't conflict with jupyter notebook which has a ```prompt_toolkit 2.0.9``` dependency. Thanks!!

[2019-08-03 21:09] KebabLord opened #73 "autocomplete feature [enhancement]"
Js version of Inquirer had autocompletion type, it would be awesome if we had it on PyInquirer too

[2019-08-06 14:31] tfeldmann opened #74 "Localization"
Hi! I'd like to you PyInquirer for some scripts which should be in German.
It would be great if there was a configuration option to change the messages and accepted inputs (for example `[Y/n]` becomes `[J/n]` and accepts `Ja` and `Nein`).
I think I could help with that if its interesting for you.

[2019-08-07 11:12] CITGuru commented on #70
Can you please share your environment details. @igor-egorov

[2019-08-07 11:12] CITGuru commented on #73
Cool

[2019-08-07 13:21] nicola-zen commented on #70
Same here, Python 3.7.1 64 bits on win10, clean virtualenv

[2019-08-07 21:01] episodeyang commented on #48
there should be a more general way to implement key bindings.

[2019-08-08 19:31] NeolithEra opened #75 "Loosen the version constraint of prompt_toolkitto avoid dependency"
Hi, _**PyInquirer**_ locked the version constraint of _**prompt_toolkitto
**_ as **_prompt_toolkitto==1.0.14_**, which leads to a troubling scenario that its direct downstream project **_[mqtt-sentinel,infraless, protomate]_** has to lock **_prompt_toolkitto_**.

Could you please loosen the version constraint of _**prompt_toolkitto**_?
Benefit of this is that users using both of _**[mqtt-sentinel,

[2019-08-08 19:32] NeolithEra commented on #75
### Dependency tree-----
[code]

[code]
[code]
[code]

[2019-08-09 15:37] ntt1985 opened #76 "Custom validator with class attribute"
Hello, I'm trying to write a custom validator using a class. The problem is that I need to compare the value in the validate() method with an attribute of the class. I tried with this:
class MyValidator(Validator):
  def __init__(self, limit):
    self.limit = limit
    Validator.__init__(self)

  def validate(self, number):
    if number > limit:
      return "Error!"
    else:
      return True

[2019-08-19 01:23] JMathiszig-Lee commented on #73
PyInquirer passes arguments to prompt-toolkit so you can already to this.

For example with an input type the following code
`questions = [
    {
        'type': 'input',
        'name': 'things',
        'message': 'Enter a thing',
        'completer': MyCompleter()
    }
]
answers = PyInquirer.prompt(questions)
`

will give you autocomplete for that field. See the documentation [here](https://py

[2019-08-19 08:12] KebabLord commented on #73
thanks!

[2019-08-19 08:12] #73 closed

[2019-08-21 23:20] CITGuru commented on #70
I will check this, been off coding for two months.

[2019-08-26 18:34] alichtman opened #78 "Disabled options that are first in a choice list are selectable initially"
Here's a minimal demo of the bug.

[code]

<img width="459" alt="image" src="https://user-images.githubusercontent.com/20600565/63713896-d8aa1c80-c840-11e9-9c11-4c3903a51532.png">

[2019-10-01 16:02] dspatoulas commented on #54
I looked through the source and didn't see it either

[2019-10-11 07:26] bedangSen commented on #44
@mraza007 the link appears to be broken. Just letting you know. 👍

[2019-10-11 08:34] CITGuru commented on #44
@bedangSen https://muhammadraza.me/creating-interactive-cli-app/ Here's the updated link

[2019-10-11 11:25] bedangSen commented on #54
Same

[2019-10-12 17:41] e3rd commented on #73
Would you please be so kind and show me a working example for `type = list`? I can't make it.

I'd love to have classic PyInquirer list with UP/DOWN moving caret. When I start typing, some of the options pops out.

[2019-10-12 18:38] mraza007 commented on #44
Thanks for updating that :+1:

[2019-10-15 10:10] rroblik commented on #67
+1

[2019-10-22 16:23] abax1 commented on #46
I was looking for the same thing!

[2019-10-23 09:08] bserrao opened #80 "Embed PyInquirer in curses"
Hello,

I would like to use PyInquirer inside curses. Is this possible?
When i tried to use it, it prompts the questions but override the curses, i mean it clears the screen prompting the questions and the returns to the curses app. I would like it to show inside ...

Thanks a lot for your work.

[2019-10-25 03:19] luisxiaomai commented on #46
I was looking for the same thing! Help...

[2019-10-25 15:41] nesadi commented on #70
I was getting the same error. You fixed the source of the error in May 28, 2019 (https://github.com/CITGuru/PyInquirer/commit/9e9efaa13b05925bb055d4aacdee55945717e930), but the latest release on PyPi is from 2018. The error goes away if I change the offending line. I ended up just git cloning the latest commit and installing it from the local repo.

[2019-11-13 14:53] Bhupesh-V commented on #45
Is there any update on this
by default only 3 styles are available

- custom_style_1
- custom_style_2
- custom_style_3

[2019-11-17 20:52] bugallos opened #82 "bump version in __init__.py"
https://github.com/CITGuru/PyInquirer/blob/3a7af86a3fa9ea35740c45ea35f7ce3a53e182c2/PyInquirer/__init__.py#L13

Shouldn't version be ```1.0.3``` for now?

[2019-12-02 06:00] timgates42 opened #84 "Small typo in tests/helpers.py"
Should read carriage rather than charriage.

[2019-12-13 05:53] halloleo commented on #70
Same here. I get teh error with the pipy version of PyInquirer under Python 3.7.

[2019-12-13 06:06] halloleo opened #86 "Degrade from list to rawlist when terminal doesn't support fancy stuff"
In simple terminals (TERM=dumb or TERM=unkown) without escape sequences for cursor movement the `list` type doesn't work properly (because no arrow movement is available).

Is there any way to automatically degrade to something like a `rawlist` type or similar?

[2019-12-26 16:45] mcpalmer1980 commented on #46
This seems like an important feature that should be implemented. I too came here with the same problem. PyInquirer is easy to use and does so much well, but I'm not sure how to get around this one.

[2020-01-01 23:29] mtfurlan opened #87 "Feature request: Option for vi style movment"
Not having j/k do up/down is confusing to me.

Right now it's just [hardcoded](https://github.com/CITGuru/PyInquirer/blob/master/PyInquirer/prompts/checkbox.py#L205) to up/down keys.

Either making j/k work by default, or maybe add something like `vi_style_movmenet=true` as an argument to `prompt` would make sense to me.

Is this something that would be welcomed as a PR?

[2020-01-06 10:43] pratik-anurag commented on #53
Hey, I would like to work on this feature. Request you to assign it to me.

[2020-01-07 18:25] rickie95 commented on #75
Yeah, this is kind of annoying, ipython installation update prompt-toolkit and now it's impossible to use pyinquirer. I should use a virtual environment but this is a very tight constraint and should be relaxed.

[2020-01-08 19:10] doylejg commented on #14
Just wanted to bump this thread. Are we still waiting on `pyinquirer2.0` or is the accepted solution to just move to `questionary` ?

[2020-01-09 14:54] gbataille commented on #75
👍
Actually that's what will make me not use this lib. I started but I can't work with this old `prompt-toolkit` that is not compatible with up-to-date `ipython` (among other things)

I tried to upgrade it and make a contribution but it's not 100% straightforward and I can't seem to run the tests in the repo. Most fail in the "fake PTY". So I'm not at all at ease to even try and touch it.

My solut

[2020-01-22 03:58] LuRenJiasWorld commented on #14
I'm glad to help developing PyInquirer2 as well.
Please feel free to contact me if you are ready to work.
My email is loli@lurenjia.in.

[2020-01-22 13:34] tmbo commented on #75
@gbataille another option would be to use https://github.com/tmbo/questionary - pretty much the same but support for promt toolkit 2 and 3.

[2020-01-24 18:27] tede12 opened #89 "Color the questions with different colors"
How can I change color on different questions?

[code]
why this line ` f'{Fore.RED}Exit{Fore.RESET}' ` is not interpreted? (it is represented like this `^[[31mExit^[[39m`)
How can I change color on a single question?

[2020-01-25 22:12] CITGuru commented on #89
I dont think thats supported at the moment

[2020-01-25 22:20] #84 closed

[2020-01-25 22:21] CITGuru commented on #87
YEs @mtfurlan You can send in a PR.

[2020-01-29 08:56] gbataille commented on #75
@tmbo thanks! I'll have a look. In the meantime I took the code here, upgrade it (at least to my need) and added a filter search in the list control by typing a prefix on the keyboard.
You can see the code here https://github.com/gbataille/password-organizer/blob/master/password_organizer/cli_menu/prompts/listmenu.py
And you can see the filtering in action there
https://asciinema.org/a/AyujEPdjcDm

[2020-02-06 18:14] SethMMorton opened #90 "Release a updated version?"
I notice it has been over a year sine PyInquirer was last released, but there have been several updates since then. In particular, I am interested in the update to raise the keyboard interrupt during a prompt.

Is there any chance a new version could be released with the current set up updates since last release?

[2020-02-06 22:12] philipbergen opened #92 "ImportError: cannot import name 'style_from_dict' from 'PyInquirer'"
Like #1 this is now back again, though slightly different token:

[code]

The requirements say `prompt_toolkit>=1.0.16,<1.1`, but that appears to be insufficient. Tried with 1.0.16, 1.0.17, and 1.0.18. They all fail.

Running on macOS catalina, with python3 from latest xcode.

[2020-02-06 22:15] philipbergen commented on #92
The problem comes from:
https://github.com/CITGuru/PyInquirer/commit/8882991430348610d7605f7d2ed236d31e29056e

[2020-02-18 16:37] rstmsn opened #95 "Associating additional information with Choices list items"
When defining a question of type 'list', the 'choices' key takes a list of all possible choices. These choices are printed to screen as strings which the user will then select from. What would be the reccommended approach to associate additional information with each of these choices.. for example a primary key integer relating to a database entry ?

[2020-02-18 19:14] rstmsn commented on #95
Just discovered the possiblity of choices as an array of objects, each with name/value/short properties!.

[2020-02-18 19:14] #95 closed

[2020-02-22 13:09] ajdavis commented on #17
I believe this issue should be reopened, it's still present in version 1.0.3 on PyPI and on master.

[2020-02-26 20:30] pronoym99 commented on #46
Great, was about to type in the same issue when I realized that the feature doesn't exist yet

[2020-03-08 19:30] kasperschnack opened #96 "Final Confirm option"
Thank you for this! It's a lot of fun to work with! I was wondering if you might consider adding a final confirm to choices? I tried doing by creating a function for the message to return a string but it doesn't seem to be working

`
def _confirm_options(answers):
    message = "Confirm choices: " + answers
    return message

group_choices = [
    {
        "type": "input",
        "name": "group

[2020-03-11 06:43] SonGokussj4 commented on #92
When I uncommented those 3 lines back, it works. But I have an automated environment so it's installing from PyPI. Is there a way you will update your project to a newer version?

[2020-03-20 14:49] Olgoetz opened #97 "Spaces are filled up with characters"
Hi together,

I have just tried a short example and I encountered the following problem:
![image](https://user-images.githubusercontent.com/19877252/77175088-56c25f00-6ac2-11ea-8ddd-eabaf11a7f2f.png)

What I am doing wrong?

[2020-03-20 17:48] ewels commented on #90
Just to add my name to this - I would love to make use of the same feature 👍

[2020-03-20 22:21] CITGuru commented on #90
@SethMMorton @ewels Sure a new update is coming

[2020-03-30 18:04] JeroenSchmidt opened #98 "Passing Multiple Arguments to Choices Function"
Is it possible to write a function that generates a list of choices that takes in more then one argument (other then `answers`)?

I want to do somthing like this:
[code]

[2020-03-30 18:11] rafarui commented on #98
you should use `from functools import partial`

[code]

[2020-03-31 13:09] JeroenSchmidt commented on #98
@rafarui  Thanks a lot, that's exactly what I needed.

[2020-04-01 09:16] JeroenSchmidt commented on #46
I just encountered this problem. It would indeed be a nice feature to have.

[2020-04-02 11:28] janwolfram opened #99 "Print normal text between list objects?"
Is there a way to print a normal text between list elements, which is not selectable. I saw disabled but I want to avoid "()".

[2020-04-19 10:24] mwiekens opened #101 "Dependency pygments is now >3.5"
The dependency pygments version 2.6.0 is python3 only.
So you cant install the current version of PyInquirer on python 2.7 because it has Pygments>=2.2.0 as dependency.

Pygments 2.5.2 still has python 2.7 support
https://pypi.org/project/Pygments/2.5.2/

[2020-04-21 07:41] yanlend commented on #14
Upgrading the dependency to newer versions of prompt_toolkit would be required for us. Is it still going to happen or are you recommending the move to questionary?

[2020-04-23 10:29] steele208 commented on #96
I'm running into the same issue - any light you can shed?

[2020-04-23 12:44] rokobekavac0 opened #102 "ImportError: cannot import name 'Win32EventLoop' from 'prompt_toolkit.eventloop.win32'"
I'm getting ImportError from the title of the issue. I've tried installing `prompt_toolkit` versions  `1.0.13`, `1.0.14`, `1.0.15`, `1.0.18`, installing version 3.0.x results yet another import error.
Platform: Windows 10
Python version: 3.7.7
`PyInquirer` version: 1.0.2
Here is my code:

[code]

Entire traceback:
[code]

[2020-04-24 19:04] craigh92 opened #103 "Feature Request: Callback for choices and input questions"
I often want to perform an action as a result of a prompt choice/input:

For example:

[code]

As the number of options grows, and the prompts become more complex this can become messy, as you have to update the logic that handles the choice every time you change/add a choice.

It would be good if you could do something like:

[code]

This is better than the previous example because the callbacks

[2020-04-25 10:59] craigh92 commented on #103
I could create a fork / branch and assign myself to this if others think it is a useful feature?

[2020-04-25 12:40] craigh92 commented on #103
I've gone ahead and made a fork, as this feature was easy to implement. A working example can be found here:
https://github.com/craigh92/PyInquirer/blob/master/examples/callbacks.py

[2020-04-25 12:52] CITGuru commented on #103
This looks good, I would go through it but I think we have something like this. @craigh92

[2020-04-25 13:21] #67 closed

[2020-04-25 18:02] craigh92 commented on #103
@CITGuru  Thanks for your reply.

If that is the case, could you please let me know how this is currently done?

Also, here's a better example of how it could be used:

https://github.com/craigh92/PyInquirer/blob/master/examples/calculator.py

[2020-04-25 21:38] deed02392 opened #105 "[Enhancement] Checkbox quantities"
Perfect example, ironically, is pizza toppings! E.g. you might want double bacon and single chicken or something.

Suggest enhancement to enable users to select quantities of checked items.

Example implementation might be to use left and right arrow keys to adjust down/up respectively, with multiple 'checked' circles appearing to represent quantities.

[2020-04-29 15:17] BlackJack1412 commented on #24
Hello, we can change the pointer by modifying
\u276f to other character
PyInquirer 1.0.3:
- list:
tokens.append((T.Pointer if selected else T, ' \u276f ' if selected else '   '))
- checkbox:
if pointed_at:
          tokens.append((T.Pointer, ' \u276f ', select_item))

[2020-05-04 12:13] stephanebruckert opened #107 "Option to disable clicking"
Hello,

Not only clicking on a prompt option does not work https://github.com/CITGuru/PyInquirer/issues/41

But also I keep clicking on it by accident (when looking to focus on the terminal window).

A way to disable clicking would be great! e.g. `click=False`

Thanks

[2020-05-09 17:15] najaco opened #108 "Typo in rawlist.py"
docstring says
[code]
should be
[code]

[2020-05-12 18:46] MehdiSaffar commented on #1
pip install 'prompt_toolkit==1.0.14'

Unfortunately this now makes `ipython 7.12.0` not work.

[code]

after `pip install prompt_toolkit` ipython now works again but pyinquirer fails

[2020-05-17 14:33] tirkarthi opened #109 "Deprecation warning due to invalid escape sequences"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

[code]

[2020-05-17 20:40] jessedp commented on #70
Instead of @nesadi approach, you can also just pass a Validator into the 'validate' key...

[code]

[2020-05-19 01:09] Psycoguana commented on #19
Hello, I'm having this exact same problem when trying to run the example code

[2020-05-20 20:33] rmkraus opened #110 "Checkbox 'checked: True' does not appear to work when using a 'value' option as well."
I use the following array for choices:

[code]

Note that all entries have checked set to True. However, when PyInquirer displays the menu, none of the options are checked.

$ pip3 freeze
ansible==2.9.9
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
dictdiffer==0.8.1
dnspython==1.16.0
google-auth==1.15.0
idna==2.9
Jinja2==2.11.2
jmespath==0.10.0
kubernetes==1

[2020-05-27 12:50] cachedout commented on #70
@CITGuru Could we please get a new release to PyPi that includes 9e9efaa1 ? Many uses of the `editor` prompt are broken otherwise. Thanks!

[2020-05-31 21:34] realgam3 commented on #110
I have a similar problem:
When using different name and value in the choices it will not count the choice as checked.
It show it selected but never really select the items...

#### [Works] same name and value:
[code]
? ids:  done (2 selections)
{'ids': ['100000001', '100000004']}

#### [Dosn't Work] different name and value:
[code]
? ids:  done (2 selections)
{'ids': []}

[2020-05-31 22:26] realgam3 commented on #110
Dear @CITGuru,
I saw you fixed it in the master branch...
Is it possible to release a minor version 1.0.4 with the fix to pypi?

[2020-06-08 10:24] darylkell opened #111 "Hide/unhide an expand Question"
Can't hide the options once they have been revealed.
Recommended fix:

[code]

[2020-06-12 10:48] tirkarthi commented on #109
This is mostly in example folder. I am not sure if this needs to be fixed. Closing. Sorry for the noise.

[2020-06-12 10:48] #109 closed

[2020-06-22 10:16] ewels commented on #90
Thanks @CITGuru - any idea when the release will be? Is there anything that we can do to help?

Sorry to hassle, I know what it's like being on your side of this conversation! 😄

[2020-06-25 02:30] robc-io opened #113 "Packaging issue with prompt_toolkit packaging generator_to_async_generator"
[code]

[2020-06-25 10:45] drabard commented on #92
This looks like an unintentional change. Uncommented the imports in PR #114.

[2020-06-25 12:01] drabard opened #116 "Travis build fails due to outdated pipenv version"
Travis build fails safety check due to outdated pipenv.
[code]

[2020-06-26 07:46] ewels commented on #17
Looks like this has now been fixed in #68 - we just need a release (#90)

[2020-06-26 18:11] kiancross commented on #46
For those who need this feature, there is a project called [questionary](https://github.com/tmbo/questionary) based on this project (but the code has been refactored and tidied up a lot) and seems a bit more up-to-date - the API is very similar.

I've submitted a pull request to the newer repo (https://github.com/tmbo/questionary/pull/48) which adds validation for the checkbox.

[2020-06-27 11:20] Zethson commented on #90
@CITGuru I would like to second this request respectfully.

I am especially interested in a more reasonable handling of keyboard interrupts and would love to see an updated release.

[2020-07-07 16:03] jonathanslenders commented on #14
Hi everyone, this PR should upgrade to prompt_toolkit 3: https://github.com/CITGuru/PyInquirer/pull/118
Note that it also means that Python 2 support will be dropped.

[2020-07-08 07:37] CITGuru commented on #113
That shoild from the prompt_toolkit side @robc-io . Any luck with this.

[2020-07-08 07:42] CITGuru commented on #111
@darylkell This has been fixed. Thanks for your suggestion.

[2020-07-08 07:44] CITGuru commented on #110
@realgam3 this will be released soon.

[2020-07-08 07:45] CITGuru commented on #108
@najaco Thanks for this.

[2020-07-08 07:48] CITGuru commented on #41
@Tioz90 Are you still having this issue? Sorry for the late reply

[2020-07-08 07:50] CITGuru commented on #105
Hi @deed02392 I really dont understand what you are trying to say. Thanks

[2020-07-08 07:53] Tioz90 commented on #41
I don’t know, I abandoned the software I was developing months ago.

[2020-07-08 08:00] CITGuru commented on #41
Oh, I get. This has been fixed already in the current master. I will be releasing the new version to PyPI

[2020-07-08 08:10] CITGuru commented on #103
I will be looking into this, this is fairly easy. I hope I could get enough time

[2020-07-08 08:10] CITGuru commented on #102
Hi @rokobekavac0 This should be from prompt_toolkit

[2020-07-08 08:13] CITGuru commented on #92
This has been fixed. Closing this

[2020-07-08 08:13] #92 closed

[2020-07-08 08:15] CITGuru commented on #90
This week definitely.

[2020-07-08 08:52] SonGokussj4 opened #119 "Non-automatic 'yes'"
Hi! I believe I've already seen this issue here but can't find it.

Would it be possible to include a parameter for the "type: confirm" to not automatically react on keyboard?
Instead wait for "y" or "yes"?

Reasoning:
For a few of my functions there are confirmations and I want to be able to run it by `yes | myscript --function`, not it terminates with an exception.

Something like:

[code]

[2020-07-08 14:27] deed02392 commented on #105
The checkbox feature is 'on' or 'off'.

We should have a feature graphically alike, but it toggles between 'off', 'one', 'two', 'three' etc., represented by multiple discs.

[2020-07-08 16:23] CITGuru commented on #105
oh i get now

[2020-07-08 16:33] CITGuru commented on #98
I can see this is settled, I will be closing this

[2020-07-08 16:33] #98 closed

[2020-07-08 16:34] CITGuru commented on #75
This has been fixed now.

[2020-07-08 16:34] #75 closed

[2020-07-08 16:35] CITGuru commented on #76
Hmnnn. This seems like you want to be able to pass extra args to the validator???

[2020-07-09 08:39] ewels opened #120 "Exit with KeyboardInterrupt messes up terminal"
Hi there,

Many thanks for merging the recent PRs. We're currently using the `master` branch until a release goes out so I noticed the updates pretty quickly. After patching our code to use the new `prompt.prompt()` syntax everything seems to work, however we get one nasty problem:

If, during a prompt, the user hits `ctrl-c` to cancel, the terminal is not restored to it's previous state. This mea

[2020-07-09 10:54] ewels commented on #120
I guess that we need to call [`reset()`](https://python-prompt-toolkit.readthedocs.io/en/master/pages/reference.html#prompt_toolkit.application.Application.reset) when the [KeyboardInterrupt is caught](https://github.com/CITGuru/PyInquirer/blob/99e018ed8d366333eee088609ac4f1ad67db5fbf/PyInquirer/prompt.py#L99) and maybe also on the buffer? I'm not super clear on what this should be called on thoug

[2020-07-09 17:56] robc-io commented on #113
@CITGuru I think that might have been an intermittent issue caused by a conflict with another package that requires the newer prompt-toolkit version.  Don't worry about this until prompt-toolkit upgrade is released and then we can probably close this.

Thanks man.

[2020-07-10 02:39] CITGuru commented on #120
@ewels I tried to get this same scenario, but on my end both Mac OS X Sierra and Windows 10, I don't seem to notice this issue.

[2020-07-10 07:44] ewels commented on #120
Ah strange 😕 I was going to try to make a minimal example for you to make sure that it's not something odd with the way that I'm using the library, but I see the same behaviour with an unmodified [`list.py` from the examples](https://github.com/CITGuru/PyInquirer/blob/7485a1fd5442332399d5f05c84e4fd74b63a5823/examples/list.py):

![Jul-10-2020 09-30-49](https://user-images.githubusercontent.com/4655

[2020-07-14 08:57] ewels commented on #90
Hi @CITGuru - any progress on this?

[2020-07-15 18:35] fredcox opened #121 "'tuple' object has no attribute 'get'"
Hi,

I need create choice with (label, value) i write this:
`
            sensors = psutil.sensors_temperatures()
            tempUserChoices = []
            for i, key in enumerate(sensors):
                tempUserChoices.append((
                    f'index: [{i}] [{key}] current temp: {sensors[key][i].current}°',
                    i
                ))

            print(tempUserChoices)

[2020-07-18 18:37] SchoolGuy commented on #41
So I am developing an app with your library. Thus I will test when the new version is released. My current fix is (what we should anyway do) to use `.get("key", "default value")`.

Thus a fix will look like this: https://github.com/cobbler/libcobblersignatures/commit/0a20f4abb291be2104576d7bb578473e6ebc4c54

[2020-07-20 21:00] ankraft commented on #90
Hi @CITGuru, can you give an estimate when the new release will be published? Is there anything we can do to help? I am sorry for the urgency, but I would love to use some new features in a configuration tool I am working on.

[2020-07-22 21:10] CITGuru commented on #90
Hi @ankraft, Sorry for the delay. I only get free time on weekends to work on this. I am currently working on the colors. A lot of changes broke the colorings. Thats what pushing me back. But you can always install from master for now before a release.

[2020-07-22 21:20] ankraft commented on #90
I know what that's like. So, no hurries and take your time. I just like to use a couple of the new features, but currently everything works fine with the current release.
For install from master: Right, but I like to state PyInquirer as a dependency rather than to include it directly in my source releases.
Again, thanks a lot!

[2020-07-22 22:02] SethMMorton commented on #90
Folks, you can make a git commit as a dependency in your `requirements.txt`:

[code]

I am using this in one of my projects. No need to "include" this in your source. `pip` handles this just fine. You can do this until a release is made - it's not as pretty as the standard notation, but it will nonetheless freeze your dep.

[2020-07-23 12:07] ankraft commented on #90
That's a great idea. Thanks!

[2020-07-28 00:14] flyguybravo opened #122 "clean environment, example code will not execute"
I set up a fresh, new environment to test PyInquirer with but all examples return the following (or similar) error:

[code]

pip install was smooth:

[code]

Environment:
[code]

[2020-08-08 11:07] Jeremie-Chauvel commented on #122
The examples are not up to date as mentionned in the linked pr, use `prompt(questions, style=custom_style_2)` instead of `prompt.prompt(questions, style=custom_style_2)`

[2020-08-15 04:34] 625781186 opened #128 "[Want help] Can you provide an example that goes back to the previous step?"
Sometimes you type something wrong and you need to go back to the previous step.

[2020-08-20 06:00] lazee commented on #128
What step? Previous question?

[2020-08-20 06:35] 625781186 commented on #128
yes .
Add an action for each question that go back the Previous question ,
and show the answer to the previous question.

[2020-08-20 14:29] lazee commented on #128
Ok. Your question is kind of outside the scope of what PyInquirer offers.

Meaning that it offers (imho) a brilliant way to get input from the user. It does not offer the kind of logic you request. That is something you need to implement yourself (or with help from other frameworks). What you describe is some sort of wizard functionality, as far as I can tell, where the user will be given a choice

[2020-08-21 01:09] 625781186 commented on #128
@lazee
I guess my question may not be asking about logic and state management,
It's that I don't know `how to add an action option after each question` that goes back to the previous step.

Such as :
[code]

[2020-08-24 04:50] abhishekvirat0 opened #129 "pip install PyInquirer not working in python 3.5"
ERROR: Command errored out with exit status 1:
     command: 'c:\users\abhis\appdata\local\programs\python\python35\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\abhis\\AppData\\Local\\Temp\\pip-install-uy67tyzt\\regex\\setup.py'"'"'; __file__='"'"'C:\\Users\\abhis\\AppData\\Local\\Temp\\pip-install-uy67tyzt\\regex\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"

[2020-08-25 12:55] tillchen commented on #49
Any updates?

[2020-08-25 18:26] ilmoi commented on #41
@CITGuru I'm on version 1.0.3, which seems latest, and still getting the error on click. What am I missing?

[2020-08-25 18:48] SethMMorton commented on #129
It looks like it is not building the `regex` module because you are missing a compiler. [It appears they have released binaries for Python >= 3.6](https://pypi.org/project/regex/#files), so for 3.5 you will need to compile from source.

[2020-08-25 18:56] SethMMorton commented on #129
This would get fixed when #90 is completed, because `regex` was removed as a dep.

[2020-08-25 19:09] SethMMorton opened #130 "Default value is not added to answers if when evaluates to False"
[code]

I would have expected the result to be `{"DO_IT": True}`, because that is the default. My expectation is the default is resolved even if not asked - in fact, it is my opinion that the default is especially important if the question is not asked.

This could be solved by adding the default to the `answers` dictionary before the `when` is evaluated.

[2020-08-25 23:50] SethMMorton commented on #121
`choices` is supposed to be either a list of the choices, or a list of dictionaries. You have a list of tuples. Is your intent that the first value be what is presented to the user, and the second be what is returned? If so, change this:

[code]

to

[code]

---

Relevant documentation (admittedly it is a bit thin):

[Relevant example](https://github.com/CITGuru/PyInquirer/blob/master/examples/piz

[2020-08-31 11:46] martijnalexion opened #131 "ConEmu doesnt show the right characters"
I have a script which uses a checkbox question type.
But the checkboxes do not show in ConEmu.
You can't see if they are checked or unchecked:
![image](https://user-images.githubusercontent.com/58816160/91716458-fca8e800-eb8f-11ea-9801-6f4137238dcb.png)

If I use cmd.exe the checkboxes show up normally.
![image](https://user-images.githubusercontent.com/58816160/91716630-53aebd00-eb90-11ea-914b-4d

[2020-09-01 13:20] klize commented on #128
I have the same requirement to go to back step without lambda statement or 'when'.

Since every questions can have predecessor with some depth, it may not be a good solution.

as I understood, `prompt` function gives your question flows within `for` statement, which means if we want to go back to previous step by giving a default menu `..` or something, we need kind of `goto` keyword.

Or the `for

[2020-09-02 08:31] 625781186 commented on #128
![image](https://user-images.githubusercontent.com/30521429/91958230-a4154e80-ed39-11ea-98e2-5d77b3d56833.png)

I plan to use `prompt-toolkit`  for this function.
The left side serves as the index for the questions,
the middle side presents the questions for each step,
 the right side displays the answers to all the questions.

[2020-09-02 21:59] 1mS3r commented on #41
@CITGuru Same here, v1.0.3 and the error is present.

[2020-09-03 02:20] zitudu opened #132 "Feature request: Vim+Emacs(Mac) keyword shortcuts for selection"
I was wondering if it's possible to move cursor up/down-ward just like in vim or terminal?

That is:

`j` or `Ctrl+N` -> ↓
`k` or `Ctrl+P` -> ↑

[2020-09-03 12:39] #121 closed

[2020-09-10 14:08] HenryHoggard commented on #41
Still affects 1.0.3.

[2020-09-16 05:53] pjfarleyiii opened #133 "Documentation request: where are 'qmark' and other properties documented?"
In examples/checkbox.py there is a key named 'qmark' that is set to a UTF-8 character (a question mark inside a diamond I think).  In the default and custom styles provided with PyInquirer there are other similar properties defined (like 'pointer') for which I cannot seem to find any documentation.

I also looked into prompt_toolkit documentation and did not see such properties or keys defined the

[2020-09-16 14:50] zdog234 opened #134 "pandas selection option"
Hi y'all, thanks for the awesome project!

This idea isn't fully-formed yet, but I'm wondering what you'd think about the addition of a `pandas` selection option in inquirer. I'm thinking that the invocation would be something like:

[code]

Then there'd be a display of the dataframe, and the user could type in a text to filter the records (across all columns? the selected column? not quite sure a

[2020-09-16 18:22] chongkong opened #135 "Relaxing upper constraints for prompt-toolkit?"
I noticed the project (at master) depends on `prompt-toolkit>=3.0.0<3.1.0` which seems pretty tight. Why not make it `>=3.0.0,<4` for better compatibility, as `prompt-toolkit` would probably follow semantic versioning thus the same major version would work.

[2020-09-16 18:42] chongkong commented on #90
Would you give us any progress update? PyInquirer 1.0.3 is last released in 2018 November 😂.

[2020-09-21 21:31] zdog234 commented on #134
Hmm, I just realized that pandas is probably a huge dependency to add just for this feature, so it'd probably be better to try to implement this as a plugin, or as an entirely separate project. I'm gonna close this for now

[2020-09-21 21:31] #134 closed

[2020-09-23 11:13] martijnalexion commented on #131
Found a solution.
Add the following in the ConEmu: Settings > Startup > Environment

[2020-09-23 11:13] #131 closed

[2020-09-28 06:30] MaxG87 commented on #90
@CITGuru I would like to respectfully second this request. The incompatibility with recent versions of `ipython` is hard to work around.

[2020-10-08 10:04] danielsc opened #137 "Push new release to PyPi"
It seems that the latest version on PyPi still depends on prompt_toolkit==1.0.14, whereas this repo seems to have moved to prompt_toolkit 3.0 on Jul 7 (which is great, since prompt_toolkit 1.x breaks iPython for me!).
Could you push a new release to PyPi, so that i don't have to pip-install from the github repo?

[2020-10-08 16:08] Swoy commented on #137
I would like to chime in that this causes havvok in my scripts when using style_from_dict in the latest PyPI version, since it complain about TypeErrors between str and _TokenType from prompt_tookit

If I install this by hand `[pip install --upgrade prompt_toolkit==3.0]`, I get the following error:
`pyinquirer 1.0.3 requires prompt_toolkit==1.0.14, but you'll have prompt-toolkit 3.0.0 which is inc

[2020-10-18 23:33] btashton commented on #57
It would be nice if this was an optional field in question dict.  Right now I am rendering the prompt after a bunch of text that someone might want to copy from before selecting a response.

[2020-10-25 06:16] zeusxs opened #139 "examples/checkbox.py style display incorrect"
branch: master

I want to  running example checkbox.py, but the style same like incorrect,

![image](https://user-images.githubusercontent.com/30338668/97100260-a8703f00-16cc-11eb-8157-fc8e75fd92df.png)

[2020-10-26 00:53] jessedp commented on #137
Another request to finish this as a warning when running pytest also seems to potentially indicate a looming failure...

    from collections import Mapping

![Screenshot from 2020-10-25 20-44-49](https://user-images.githubusercontent.com/77744/97123826-f5233c80-1703-11eb-95d2-4cb1a71cc568.png)

[2020-10-28 18:29] Rubo3 opened #141 "Return separators with choices, too when using checkboxes"
I've ran into a situation in which I had to get from a checkbox list not only the choices, but also their separators. This was because I had to pick the possible choices from a nested dictionary, where the keys of the external dictionary were the separators and the keys of the internal dictionaries were their choices. Something like this:

[code]
The problem here is that the prompt only returns th

[2020-10-29 13:22] Rubo3 commented on #141
Or maybe, to generalise, every separator could have its own ID (an index?), and every possible choice between that separator and the next one could have the same one. What do you think?

[2020-11-02 06:02] SolebaySharp commented on #137
I would also deeply appreciate it if the PyPi version could be updated to work with prompt_toolkit 3.0, as to install the older version of prompt_toolkit prevents the Hydrogen module from running in Atom and I cannot test my code.

[2020-11-10 13:04] richardjpope opened #142 "Default not working for lists"
Setting the default option does not select the default when the question is asked
[code]

[2020-11-10 13:09] richardjpope commented on #142
Apologies - I see this has been fixed in a subsequent release

[2020-11-10 13:09] #142 closed

[2020-11-13 01:59] nabeelsherazi commented on #96
Just ran into the same issue. Thanks @elyscape for showing the solution. It took about a minute to fix -- now the hard part is just getting it pulled in lol. In the meanwhile, I'm using my own branch as a local package.

[2020-12-01 10:07] aasyria commented on #122
custom_style_2 is also not found

[2021-01-02 12:30] CodingSpiderFox opened #149 "Is there an inline search in the checkbox type options?"
Consider a case where you have many options in the checkbox type select menu.

If I'm looking for a specific option I want to be able to press a keyboard shortcut in order to find an option by search term with string.contains like search.

Like when in nano you press CTRL + w

[2021-01-02 15:54] CodingSpiderFox commented on #56
Has anyone been able to use it in debugging mode in PyCharm?

[2021-01-08 17:28] cgoldman1026 opened #150 "prompt(questions) freezes the terminal"
I'm currently building a Terminal menu that requires the user to be able to freely scroll throughout the Terminal to make decisions based on things that have been printed to the Terminal previously in the code. However, whenever I prompt() my array of questions and the questions display in the Terminal, it totally freezes and I lose the ability to scroll freely throughout.

Not sure if this is int

[2021-01-18 21:11] AnnanFay commented on #90
@CITGuru Is there any way that we can help push this to release?

If there are specific issues holding up release you should publish an explicit list of issues requiring completion before the next release. This will let people make PRs to fix those issues. Pin it so it's the first thing people see when they view the project Issues.

You should try to responsd to PR requests. I notice there are 10

[2021-01-19 01:39] kozzza opened #151 "Remove space at the beginning of a message"
I've peeked the definition of the question method in PyInquirer prompts in hopes of finding a way to remove the space that proceeds a message:
[code]
It seems the space is hardcoded into the question on the 5th line shown here. Is there anyway to get around that? I've already removed the question mark by passing in `qmark` as an arg into prompt like so:
[code]
Thank you.

[2021-01-26 17:00] diVineProportion commented on #137
In the meantime, just throw this into your requirments.txt and pip will retrieve it from the git repository rather than pypi.

pip can use **github instead of pypi** if defined in requirements.txt following url scheme:
git+https://github.com/{_author_}/{_repo_}.git@{_branch_}

so requirements.txt might look like:
[code]
pip install -r requirements.txt

[2021-01-27 12:47] kemalsanli commented on #137
I can also confirm, this works on macos big sur 11.1. Thank you @diVineProportion

[2021-01-29 22:30] wlockiv commented on #137
Bump. Can we please get a release? It looks like many of the issues I have with this library have been committed to the repo. I use `setuptools` to manage requirements for my repo and the above suggestion does not seem to work.

[2021-02-07 22:58] diVineProportion commented on #137
you trued this?
https://stackoverflow.com/questions/3472430/how-can-i-make-setuptools-install-a-package-thats-not-on-pypi

[2021-02-09 11:03] mbenami opened #152 "update choices when user press keyboard"
Hi
I'm using the prompt to get from the user his choice
but sometimes the choices list is very large and moving only with the arrow keys is not comfterbale
is there an option the have the choices update as the user starts typing with the keyboard?

for example when I press `a` all the choices that start with the letter `a` will be kept.
Thanks

[2021-02-11 21:34] info-rchitect opened #153 "Is PyInquirer not incompatible with Jupyter notebook?"
Hi,

I love your library so I hope this is user error.  Here is what I get when I try to run a Jupyter notebook that uses PyInquirer for all of the user selections.

[code]

It seems that `ipykernal` is the complaining module:

[code]

thx in advance for any help

[2021-02-18 10:34] aasyria commented on #107
is anyone find a solution for that?

[2021-02-18 14:17] pohlt commented on #153
PyInquirer depends on a prompt_toolkit version which is almost 4 years old now. IPython however expects prompt_toolkit to be a more reasonable version 3+.
Since it's unlikely that IPython goes back to a four year old version, I think it's pyinquirer's move now. ;-)

[2021-02-18 14:20] info-rchitect commented on #153
@pohlt Yeah I should have closed this as I found out the same thing as you did.  I switched to `questionary` but even that won't work.  To query the user in Jupyter Notebook you need to rely mostly on `ipywidgets`.

[2021-02-18 14:20] #153 closed

[2021-03-25 10:28] tiamilani opened #155 "[bug] 'default' property doesn't accept numbers"
Hello, I didn't find a previous issue for the same problem.
When I try to use as default a number, for example, 1234, in an input question I get an error.
While, if I use a string, "1234" I don't get the error.
Maybe it's only inconsistency with the documentation (`default: (String|Number|Array|Function)`).

I don't think it's relevant but I'm using a virtual environment.

Code to reproduce the er

[2021-03-31 20:56] aparcar opened #156 "jsonschema integration"
Hi, does a integration of JSON schema exists, where questions are automatically based on allowed field from a `jsonschema` file and thereby also automatically validated?

[2021-04-05 10:28] TobiasKiehnlein commented on #56
I actually did.

On the top right you should have a drop down with all your run configurations. Select the top option 'Edit Configurations...'. And select your configuration on the left.

It should look like this now:
![image](https://user-images.githubusercontent.com/37203616/113564708-19b40680-960a-11eb-892e-de9c1a4aa936.png)

Make sure to check the option 'Emulate terminal in output console'.
A

[2021-04-05 19:05] leejustin commented on #90
I wish I saw this thread before I decided to evaluate and integrate it into a tool I'm building. Not to sound ungrateful because this is a really neat library. However, I'm a bit disappointed to see a tool this useful become so stale as development has come to a halt and many offers to help manage and push changes go unanswered. I'm offering any way to help contribute in addition to the others bef

[2021-04-10 23:38] aasyria opened #158 "Unit Test for CLI Tools"
I am trying to write some automated Tests Like the Tests in PyInquirer repo for my Tool
but I am getting always Errors because of prompt-toolkit is in a different Version the Functions there are not available.
when I upgrade the prompt toolkit the whole app doesn't work any more.
anyone can help or have an example How to write a Test with Pyinquirer and prompt-toolkit= 1.0.4.
Thanx

[2021-04-14 16:40] CITGuru commented on #14
Please read this, Looking for maintainer/successor. https://github.com/CITGuru/PyInquirer/issues/159

[2021-05-10 09:52] #102 closed

[2021-05-15 10:34] g-paras opened #161 "example/checkbox.py validate is not working"
According to the code, user must select at least one topping otherwise it should print 'You must choose at least one topping' then ask again but instead program prints a dictionary with toppings as key and empty list as value, which is wrong.

[2021-05-19 01:47] harsh183 commented on #137
I was getting this warning as well while using `Python 3.8`

![image](https://user-images.githubusercontent.com/7780198/118744646-50d92280-b81a-11eb-9c90-22d72fce95d8.png)

[2021-05-20 16:49] adamkusmirek commented on #96
Any progress on this getting pulled in?
Ran into it as well and it would be nice not to have maintain my own fork...

[2021-05-28 22:57] inyerade commented on #142
issue still present in PyInquirer==1.0.3

[2021-05-28 23:00] inyerade commented on #18
default do not work in `list` and `rawlist` present in PyInquirer==1.0.3

[2021-06-06 12:22] KSR001 opened #163 "Any option to have the Editor contain pre-filled text, which is not read as a part of the input?"
Hi,

Is there a way for Editor to currently have a pre-filled text(like directives provided to the user for the data that they enter), but is not read as a part of the variable?
For Eg, something like this, where the user may enter << USER INPUT >> but doesn't change/ disturb the upper part of the file.

#######################
Please enter the required data in this editor, and save the file once

[2021-06-10 12:17] Humungus14 opened #164 "Control description of menu navigation"
It is not implemented to disable description of menu navigation.
![tr-1](https://user-images.githubusercontent.com/5245614/121523149-8e3a6580-c9fe-11eb-88a9-4f9de02651e9.PNG)

Could you implement this feature by using kwargs?

[2021-07-20 15:53] jorgesmu opened #166 "List type is not wrapping lines for message or choices"
When submitting a question of type 'list' both the message and the choices don't wrap properly when changing the size of the terminal. This is not happening for other type of questions. For example: 'input' question.

Choices are fixed by setting wrap_lines=True in the ConditionalContainer:
https://github.com/CITGuru/PyInquirer/blob/master/PyInquirer/prompts/list.py#L134

[2021-07-23 15:23] flavienbwk commented on #161
I can reproduce the issue.

[2021-07-31 13:40] kyzima-spb commented on #161
[code]

The example from the documentation doesn't work either.

[2021-08-26 09:17] awalasz commented on #57
Hi, there is another issue related to that. If you have a 'list' question, then when clicking to option it's correctly selected but answers are empty and not returned.
[code]

[2021-09-13 06:17] tienthegainz opened #169 "Using with docker container"
Is there a way to use this library with docker container?

[2021-10-30 11:58] douglaslassance opened #170 "Fail to install with pip on MacOS 11.5.2 using Python 3.7.9"
[code]

[2021-10-30 14:05] guedesfelipe commented on #170
is there a need to run as sudo?

[2021-10-30 19:27] douglaslassance commented on #170
Without `sudo`:

[code]

[2021-10-31 04:00] guedesfelipe commented on #170
Can you try to install with `pip install PyInquirer --verbose` and put here the output?
I ran a test here on version 3.7.9 of python and MacOS 11.6.1 and it worked perfectly.

[2021-10-31 14:19] douglaslassance commented on #170
[code]

[2021-10-31 14:38] douglaslassance commented on #170
Found people talking about this [here](https://github.com/conda/conda/issues/9038#issuecomment-633613850).
`sudo ln /opt/local/lib/libffi.8.dylib /opt/local/lib/libffi.7.dylib` fixed it for me.
Not sure how this lib got to be missing in the first place.

[2021-11-01 00:41] guedesfelipe commented on #170
if it worked, you can close the issue

[2021-11-01 17:49] #170 closed, assigned to nobody

[2021-11-13 14:46] farzammpm commented on #170
yes it does, but be prepared, your system will explode sooner or later and you will have to re-install it all, all over again from scratch... one should never manually link.

[2021-12-01 16:03] b-grimaud opened #171 "Using lambda and not classes to validate inputs"
Hi,

I was wondering if and how is it possible to use lamda functions as validator for data input.
In my opinion writing classes derived from another module's class, with its own object type, and that in the end only contain one single function which executes a simple test, seems a bit heavy and convoluted.

It apparently is possible to do so, but as far as I could tell there are two provided exam

[2021-12-01 19:45] guedesfelipe commented on #171
#168 This pull request solves the checkbox validation issue

you can use this repo (https://github.com/guedesfelipe/PyInquirer) or make the changes on your machine, as the repository maintainer is no longer maintaining the project anymore #159

Example:
[code]

[2022-01-01 16:42] aaronchantrill opened #172 "Broken dependency in Python 3.10"
PyInquirer requires prompt-toolkit 1.0.14 which imports Mapping from collections in styles/from_dict.py. For python 3.10, this needs to be updated to `from collections.abc import Mapping`. The current version of prompt-toolkit appears to be 3.0.24, so it seems likely that updating this library would fix the issue.

[2022-01-02 00:07] aaronchantrill commented on #172
Sorry, redirected here by PyPi. I see that this current version requires prompt-toolkit 3..3.1 since July 2020. Apologies.

[2022-01-02 00:07] #172 closed, assigned to nobody

[2022-01-03 23:32] grinchify opened #173 "Unable to check multiple items using the checkbox examples"
Using the following example

https://github.com/CITGuru/PyInquirer/blob/master/examples/checkbox.py

I am unable to check multiple items for example Bacon and Tomato

[2022-01-03 23:50] grinchify commented on #173
Correction* Any way to make it not use spacebar to select items

[2022-01-04 14:50] Cellebyte commented on #172
@aaronchantrill you are right, but it should be updated on pypi. The current version enforces an older prompt_toolkit version which does not work with python 3.10.
[code]
this together with python 3.10 is breaking the compatibility.
Because poetry would not install the version 3.x.y of prompt_toolkit.
PyInquirer should release a new version which uses a newer prompt_toolkit.

[2022-01-07 23:16] o-nikolas commented on #14
Hey folks, now that @jonathanslenders's PR to support prompt_toolkit 3 has been merged, can a release be cut so that we can make use of this contribution?

[2022-01-12 18:07] ebbishop commented on #90
At the risk of being that guy, this may be helpful to anyone else who ends up here - https://github.com/kazhala/InquirerPy is a current re-implementation of PyInquirer (and it gives credit where it's due). I've just been using it for a few days, but so far, so good!

[2022-01-14 16:27] mrpbennett opened #174 "AssertionError when using example"
I have tried to use the example here:

[code]

But I keep getting the following error and not sure why

[code]

[2022-01-21 03:42] Steve-Groner opened #175 "MAC Terminal Support"
Will this run in MAC terminal window?

[2022-02-14 15:51] scpalbright commented on #90
Any idea if a new release is going to happen?  I've just started using this and it's brilliant, but the new release would be extremely useful.

[2022-02-14 16:27] leejustin commented on #90
@scpalbright I wouldn't count on it. It is essentially abandoned. The author tried to find a maintainer a year ago but it seemed like nothing really happened from there. You should look into another library. I've been using https://github.com/tmbo/questionary. It's a fork that I found through some of the issue threads in this repository.

[2022-02-14 16:58] ankraft commented on #90
I agree, InquirerPy is a great replacement.

[2022-03-03 22:20] rahulreddy15 opened #177 "Multiline Messages"
PyInquirer only allows messages to be a single line. ( questions )
A useful improvement would be making messages multiline.
i.e passing array of strings which are displayed in the terminal window line by line.

[2022-03-09 16:26] msr8 commented on #175
Yes, it does

[2022-04-23 10:54] el2zay opened #178 "Crash on clic"
Hi,
I don't know if you have been informed about this but when you click on the inquirer it crashes

https://user-images.githubusercontent.com/79168733/164891553-8b99d3f6-54b9-44dd-ab19-b91ed688387c.mov

[2022-05-14 06:26] dev-SR opened #181 "ImportError: cannot import name 'Mapping' from 'collections' (C:\Python310\lib\collections\__init__.py)"
Traceback (most recent call last):
[code]

[2022-05-19 15:57] SultanGabriel commented on #181
Getting the same error

  File "C:\Users\sulta\Desktop\mon\cli-test2.py", line 2, in <module>
    from PyInquirer import prompt, print_json
  File "C:\Users\sulta\AppData\Local\Programs\Python\Python310\lib\site-packages\PyInquirer\__init__.py", line 6, in <module>
    from prompt_toolkit.token import Token
  File "C:\Users\sulta\AppData\Local\Programs\Python\Python310\lib\site-packages\prompt_too

[2022-05-24 21:58] roybeny opened #182 "Tests are failing on a clean fork"
Hi,
I would like to start contributing to PyInquirer and I went through the steps under the [contribution](https://github.com/CITGuru/PyInquirer#contribution) section.
When running the tests most fail, with basically two errors:

1. e.g.: FAILED tests/test_prompts_list.py::test_cycle_backwards - AttributeError: 'str' object has no attribute 'read_fd'.
This seems to come from the use of `PosixPipeI

[2022-05-31 14:25] mateoglzc commented on #24
Hello Guys! I'm having the same problem as you. The list pointer is not showing up in my terminal :( I changed the symbol using the @BlackJack1412 solution, but has anyone implemented a solution and doesn't require a source code change?

[2022-06-02 15:35] Pankti77Dave commented on #181
Getting the same error
Traceback (most recent call last):
  File "d:\python-proj\test.py", line 2, in <module>
    from PyInquirer import prompt
  File "D:\python\lib\site-packages\PyInquirer\__init__.py", line 6, in <module>
    from prompt_toolkit.token import Token
  File "D:\python\lib\site-packages\prompt_toolkit\__init__.py", line 16, in <module>
    from .interface import CommandLineInterfa

[2022-06-05 11:30] marcsabate7 opened #183 "PageSize is not working"
im trying to use PageSize because my list is to huge but is not working, any help please?

[2022-06-11 13:10] uysalserkan commented on #181
Temp. solution is to downgrade your python version to the correct one.

Edit: Python 3.7 is working well.

[2022-06-15 01:12] Koshvild08 opened #184 "My"

[2022-06-21 11:19] juandspy commented on #161
I think it's not implemented yet: https://github.com/CITGuru/PyInquirer/blob/master/PyInquirer/prompts/checkbox.py#L121

[2022-06-23 17:55] signup-input commented on #181
For Python 3.10.5, change line in file: `...\.venv\Lib\site-packages\prompt_toolkit\styles\from_dict.py `
from:
`from collections import Mapping` to `from collections.abc import Mapping`.

[2022-07-06 09:12] FireHead90544 opened #185 "Applying style to a prompt throws an error"
This is the error I am getting.
![image](https://user-images.githubusercontent.com/55452780/177514628-7ff4f31d-a8af-4e23-ba64-12741c3a7b72.png)

This is my styling.
![image](https://user-images.githubusercontent.com/55452780/177514686-54213a9c-870a-4051-a7f7-6c2ff08b3991.png)

This one's containing the question and prompt.
![image](https://user-images.githubusercontent.com/55452780/177514966-11781

[2022-07-06 09:13] FireHead90544 commented on #185
![image](https://user-images.githubusercontent.com/55452780/177515327-391740b4-24ff-4bd5-a558-b814a84fec9d.png)
And these ones are the imports*

[2022-07-12 12:47] RenSnek opened #186 "List input with prompt multiple lines long moves down a line every time cursor moves"
I've found that if I have a prompt that is more than a line long on a list input, that every time I move my cursor up or down the entire question moves down a line, leaving the first line behind.
Before moving the cursor:
![Screenshot 2022-07-12 13 46 42](https://user-images.githubusercontent.com/103824765/178493154-039c22d3-466d-4ad1-bb55-8d36367231ca.png)
After moving the cursor a few times:
![S

[2022-07-13 08:51] RenSnek commented on #184
what does this mean

[2022-07-19 08:54] inbarde opened #187 "Request: Upgrade code for compatibility with prompt_toolkit 3.0.29"
Hey
If it's possible, will be glad if you can support this version :)
thanks!

[2022-08-05 17:45] jeffwright13 opened #188 "Typo in 'input.py'"
Should be
`import re`
instead of
`import regex`

[2022-08-09 01:26] bhavanvir opened #189 "Separator colour isn't applied for 'list' types."
Adjusting a `Separator` style, by changing the default colour:
![style](https://user-images.githubusercontent.com/20825496/183542273-5ee09c62-e3cf-4d00-a579-5821d46a540e.jpg)
![separator](https://user-images.githubusercontent.com/20825496/183542078-2a79ccec-2020-4bd7-9fa2-480a5cb26a8f.jpg)

Executing the program doesn't have the `Separator` colour change, rather, the `Separator` retains its defaul

[2022-08-10 00:28] CITGuru commented on #174
;cvl;cljc

[2022-08-19 09:39] fbrodrigorezino opened #190 "Add support for Python version 3.10"

[2022-09-15 09:07] theShinigami opened #192 "prompt.prompt should be prompt(questions, style=custom_style_2)"
https://github.com/CITGuru/PyInquirer/blob/7637373429bec66788650cda8091b7a6f12929ee/examples/list.py#L54

[2022-09-15 21:30] mrgiba commented on #190
I am getting this error when trying to import PyInquirer module, apparently related to the lack of support for Python 3.10

[code]

Any expectation for a fix ?

[2022-10-05 09:13] MaxG87 commented on #182
I do not have a workaround, but I am experiencing the same issue. I tested Python 3.7, 3.9 and 3.10 and various commits of PyInquirer. I was unable to find anything that would pass the tests.

[2022-10-11 18:10] yiheinchai commented on #185
I am getting the same error, no idea why either

[2022-10-12 01:38] FireHead90544 commented on #185
@yiheinchai
I don't know why but this library is buggy, I recommend switching over to InquirerPy. It works flawlessly.

[2022-10-28 06:56] Achimh3011 commented on #190
It's not clear from your (missing) backtrace, but as far as I can see, this is due to an old version of prompt_toolkit being used. The fix (newer version) is already in the repo. A release covering this fix would be nice, though.

[2022-11-14 02:54] tianshuang commented on #96
This project appears to be no longer active.

[2022-11-22 16:23] gregoriopellegrino commented on #190
same error here